@model TeamsViewModel
@{
    ViewData["Title"] = "Favorites";
}

<div class="text-center">
    <h2>@(String.IsNullOrEmpty(Model.UserName) ? "My" : Model.UserName + "'s") Favorites</h2>
    <form asp-action="Delete" method="post">
        <a asp-action="Index" asp-controller="Home" class="btn btn-primary"
           asp-route-activeConf ="@Model.ActiveConf" 
           asp-route-activeDiv="@Model.ActiveDiv">
            Back to Home Page
        </a>
        <a asp-action="Index" asp-controller="Name" class="btn btn-primary">
            Change Name
        </a>
        <button type="submit" class="btn btn-primary">
            Clear Favorites
        </button>
    </form>
    <br />
</div>


<div class="row">
    <div class="col-8 offset-2">
        <ul class="list-group">
            @foreach (Team team in Model.Teams)
            {
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="~/images/@team.LogoImage" alt="" />
                        </div>
                        <div class="col-sm-4">
                            @team.Name
                        </div>
                        <div class="col-sm-4">
                            @team.Conference.Name @team.Division.Name
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>