@model TeamsViewModel
@{
    ViewData["Title"] = "NFL Teams";
}
<div class="row">
    <div class="col-sm-3">
        <h3 class="mt-3">Conference</h3>
        <div class="list-group">
            <a asp-action="Index"
                asp-route-activeConf="all"
                asp-route-activeDiv="@Model.ActiveDiv"
                class="list-group-item @Model.CheckActiveConf("all")">
                All
            </a>
            @foreach (Conference conf in Model.Conferences)
            {
                <a asp-action="Index"
                   asp-route-activeConf="@conf.ConferenceID"
                   asp-route-activeDiv="@Model.ActiveDiv"
                   class="list-group-item @Model.CheckActiveConf(conf.ConferenceID)">
                    @conf.Name
                </a>
            }
        </div>
        <h3 class="mt-3">Division</h3>   
        <div class="list-group">
            <a asp-action="Index"
                asp-route-activeConf="@Model.ActiveConf"
                asp-route-activeDiv="all"
                class="list-group-item @Model.CheckActiveDiv("all")">
                All
            </a>
            @foreach (Division div in Model.Divisions)
            {
                <a asp-action="Index"
                   asp-route-activeConf="@Model.ActiveConf"
                   asp-route-activeDiv="@div.DivisionID"
                   class="list-group-item @Model.CheckActiveDiv(div.DivisionID)">
                    @div.Name
                </a>
            }
        </div>
    </div>
    <div class="col-sm-9">
        <ul class="list-inline">
            @foreach (Team team in Model.Teams)
            {
                <li class="list-inline-item">
                    <a asp-action="Details" asp-route-id="@team.TeamID">
                        <img src="~/images/@team.LogoImage" alt="@team.Name"
                             title="@team.Name | @team.Conference.Name @team.Division.Name" />
                    </a>
                </li>
            }
        </ul>
    </div>
</div>